APP_ENV=development
APP_URL=http://localhost:6001

# App
NODE_ENV=local
APP_PORT=6001
APP_NAME=ems
FE_APP_URL=http://localhost:3000

# Database PostgreSQL
DB_POSTGRE_DATABASE=database
DB_POSTGRE_HOST=db
DB_POSTGRE_USERNAME=username
DB_POSTGRE_PASSWORD=password
DB_POSTGRE_PORT=5432
DB_POSTGRE_SYNCHRONIZE=false
DB_POSTGRE_LOGGING=false

JWT_ACCESS_SECRETKEY=accessToken
JWT_ACCESS_EXPIRES=1d

JWT_REFRESH_SECRETKEY=refreshToken
JWT_REFRESH_EXPIRES=15d

RESET_PASSWORD=resetPassword

BASE_BACKEND_PATH=storage/
STORAGE_LOCATED=LOCAL


#Cronjob
DATA_CRAWLER_API_ENDPOINT=https://amigo.veep.vn
PROJECT_CRON_TIME=*/1 * * * * *
ACCOUNT_CRON_TIME=*/1 * * * * *
DEVICE_CRON_TIME=*/1 * * * * *
CRON_JOB_STATUS_TIMER =0 */12 * * *

GEMINI_API_KEY=geminiKey
GEMINI_VERSION=gemini-1.5-flash

AUTH_USERNAME=hoangnguyen
AUTH_PASSWORD=Hoang@123
AUTH_TENANT_CODE=3000045
AUTH_CLIENT_ID=client
AUTH_CLIENT_SECRET=client
AUTH_TYPE=vc
AUTH_GRANT_TYPE=password

CAPTCHA_KEY=EMS2025!